# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno (¡NO SUBIR CONTRASEÑAS!)
.env
backend/serviceAccountKey.json

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Dependencias de Node (Frontend)
node_modules/
dist/
build/

# Bases de datos locales (si estuvieras usando SQLite, pero por si acaso)
*.sqlite3

# Evidencias subidas localmente por el backend
backend/uploads/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# .\backend\venv\Scripts\Activate.ps1
# ng serve
# python -m uvicorn app.main:app --reload
.env
__pycache__/
*.pyc
.venv/

# UML Diagrams and documentation
uml/


*.md
