<div class="login-card">
  <a routerLink="/" class="back-link">
    <i class="fa-solid fa-arrow-left"></i> Volver al Inicio
  </a>
  
  <h2>Ingreso al Sistema</h2>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label>Correo Electrónico:</label>
      <input type="email" formControlName="username" placeholder="admin@taller.com">
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" style="color: red; font-size: 12px;">
        Correo inválido.
      </div>
    </div>

    <div style="margin-top: 10px;">
      <label>Contraseña:</label>
      <input type="password" formControlName="password" placeholder="***">
    </div>

    <div style="margin-top: 8px; text-align: right;">
      <a routerLink="/forgot-password" style="font-size: 12px; color: #3b82f6; text-decoration: none; cursor: pointer;">
        ¿Olvidaste tu contraseña?
      </a>
    </div>

    <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="loginForm.invalid || isLoading" style="margin-top: 20px;">
      {{ isLoading ? 'Cargando...' : 'Entrar' }}
    </button>
    
  </form>
</div>